:root {
  --primary: lightseagreen;
}

body {
  font-family: 'Helvetica';
}

header {
  display: grid;
  place-items: center;

  width: 100vw;
  height: 120px;
  background-color: var(--primary);
}

.turn-display {
  font-size: 2rem;
}

#main-container {
  display: grid;
  place-items: center;
  gap: 1.5rem;
  padding: 5rem;
}

#board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;

  width: 450px;
  height: 450px;
  background-color: white;
  border: 2px solid #fafafa;
}

.cell {
  border: 2px solid #fafafa;
}

.cell:hover {
  background-color: #eaeaea;
  border: 2px solid #eaeaea;
}

#restart-btn {
  padding: 0.5rem 2rem;

  border: none;
  background-color: var(--primary);

  cursor: pointer;
}

#restart-btn:hover {
  background-color: rgb(30, 151, 145);
}

#restart-btn:active {
  background-color: white;
}

.select-test {
  background-color: red;
}
