:root {
  --primary: lightseagreen;
}

body {
  font-family: 'Helvetica';
}

header {
  display: grid;
  place-items: center;

  width: 100vw;
  height: 120px;
  background-color: var(--primary);
}

#restart-btn {
  padding: 0.5rem 2rem;

  border: none;
  background-color: var(--primary);

  cursor: pointer;
}

#restart-btn:hover {
  background-color: rgb(30, 151, 145);
}

#restart-btn:active {
  background-color: white;
}
